In [1]:
5+5

10

In [1]:
1 is integer

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\ACER\AppData\Local\Temp\ipykernel_8004\660715304.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  1 is integer
C:\Users\ACER\AppData\Local\Temp\ipykernel_8004\660715304.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  1 is integer
C:\Users\ACER\AppData\Local\Temp\ipykernel_8004\660715304.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  1 is integer
C:\Users\ACER\AppData\Local\Temp\ipykernel_8004\660715304.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  1 is integer
C:\Users\ACER\AppData\Local\Temp\ipykernel_8004\660715304.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  1 is integer

NameError: name 'integer' is not defined

In [3]:
1 is

SyntaxError: invalid syntax (1067797033.py, line 1)

In [5]:
form=1

In [7]:
1 is form

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\ACER\AppData\Local\Temp\ipykernel_8004\1247350434.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  1 is form

True

In [9]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

In [11]:
x is y

False

In [13]:
x is z

True

In [3]:
2name=wer

SyntaxError: invalid decimal literal (4132262727.py, line 1)

In [19]:
city="pune"

In [21]:
city

'pune'

In [23]:
_name = pune

NameError: name 'pune' is not defined

In [25]:
_name="pune"

In [27]:
_name

'pune'

In [29]:
@name ='pune'

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (65657333.py, line 1)

In [31]:
name ='pune'

In [33]:
name

'pune'

In [35]:
Roll_Number = 47

In [37]:
Roll_Number

47

In [39]:
is = "richie rich"

SyntaxError: invalid syntax (1882518577.py, line 1)

In [41]:
apple in x

NameError: name 'apple' is not defined

In [43]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

In [45]:
apple in x

NameError: name 'apple' is not defined

In [47]:
"apple" in x

True

In [49]:
'orange'in x

False

In [51]:
x & y

TypeError: unsupported operand type(s) for &: 'list' and 'list'

In [59]:
a = 4
b = 10


# Print bitwise AND operation
print("a & b =", a & b)

a & b = 0

In [61]:
type(a)

int

In [63]:
type(x)

list

In [75]:
a = 9
b = 10


# Print bitwise AND operation
print("a & b =", a & b)

a & b = 8

In [1]:
a is

SyntaxError: invalid syntax (3023529786.py, line 1)

In [3]:
9 is

SyntaxError: invalid syntax (503741748.py, line 1)

In [5]:
a is 9

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\ACER\AppData\Local\Temp\ipykernel_3132\2015741945.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  a is 9
C:\Users\ACER\AppData\Local\Temp\ipykernel_3132\2015741945.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  a is 9
C:\Users\ACER\AppData\Local\Temp\ipykernel_3132\2015741945.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  a is 9
C:\Users\ACER\AppData\Local\Temp\ipykernel_3132\2015741945.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  a is 9
C:\Users\ACER\AppData\Local\Temp\ipykernel_3132\2015741945.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  a is 9

NameError: name 'a' is not defined

In [15]:
b =input("plz give the input")

plz give the input 6

In [17]:
type(b)

str

In [19]:
print(type(b)

SyntaxError: incomplete input (1625207913.py, line 1)

In [21]:
print(type(b))

<class 'str'>

In [23]:
c=int(input("please enter the message"))

please enter the message 7378450384

In [29]:
print("THALA for REASON",C)

NameError: name 'C' is not defined

In [31]:
print("THALA for REASON",C)

NameError: name 'C' is not defined

In [33]:
print("THALA for REASON",c)

THALA for REASON 7378450384

In [35]:
a=float(input("enter the first number"))
b=float(input("enter the second number"))
add=a+b
print("addition of two number :",add)

enter the first number 1.7
enter the second number 1.6

addition of two number : 3.3

In [37]:
a=float(input("enter the first number"))
b=float(input("enter the second number"))
sub=a-b
print("subtraction of two number :",sub)

enter the first number

ValueError: could not convert string to float: ''

In [39]:
a=float(input("enter the first number"))
b=float(input("enter the second number"))
sub=a-b
print("subtraction of two number :",sub)

enter the first number 1
enter the second number 3

subtraction of two number : -2.0

In [41]:
mul

enter the first number 2.6789
enter the second number 32243444.5644

multipication of two number : 86376963.64357115

In [43]:
a=float(input("enter the base number"))
b=float(input("enter the power "))
exp=a**b
print( a,"raised to",b,"is",exp)

enter the base number 12
enter the power  3

12.0 raised to 3.0 is 1728.0

In [45]:
a

12.0

In [47]:
b

3.0

In [49]:
a=float(input("enter the first number"))
b=float(input("enter the second number"))
mod=a%b
print("modulus of two number :",mod)

enter the first number 12
enter the second number 3

modulus of two number : 0.0

In [51]:
a=float(input("enter the first number"))
b=float(input("enter the second number"))
floor=a/b
print("floor division of two number :",floor)

enter the first number 12
enter the second number 5

floor division of two number : 2.4

In [53]:
a=float(input("enter the length"))
b=float(input("enter the breadth"))
area=a*b
print("area of rectangle whose length is",a,"and breadth is",b,":",area)

enter the length 12.5
enter the breadth 2.4

area of rectangle whose length is 12.5 and breadth is 2.4 : 30.0

In [55]:
a=float(input("enter the length"))
area=a**2
print("area of square whose length is",a,":",area)

enter the length 12

area of square whose length is 12.0 : 144.0

In [57]:
a=float(input("enter the radius"))
area=2*3.14*a**2
print("area of circle whose radius is",a,":",area)

enter the radius 24.56

area of circle whose radius is 24.56 : 3788.0558079999996

In [59]:
a=float(input("enter the Base 1"))
b=float(input("enter the Base 2"))
c=float(input("enter the Height"))
area=0.5*(a+b)c
print("Area of trapezium  Base1 is",a," Base 2 is",b,"and Height is",c,":",area)

SyntaxError: invalid syntax (1176907033.py, line 4)

In [67]:
a=float(input("enter the Base 1"))
b=float(input("enter the Base 2"))
c=float(input("enter the Height"))
area=0.5*(a+b)*c
print("Area of trapezium with Base1 is",a,",Base 2 is",b,"and Height is",c,":",area)

enter the Base 1 2332
enter the Base 2 22
enter the Height 22

Area of trapezium with Base1 is 2332.0 ,Base 2 is 22.0 and Height is 22.0 : 25894.0