In [1]:
import re

txt = 'The rain in Spain'
x=re.findall('ai',txt)
print(x)

['ai', 'ai']

In [3]:
import re

txt = 'The rain in Spain'
x=re.findall('Portugal',txt)
print(x)

[]

In [5]:
import re

txt="The rain in Spain"
x=re.search("\\s",txt)

print("The first white-space character is located in position:",x.start)

The first white-space character is located in position: <built-in method start of re.Match object at 0x000002669970BDC0>

In [9]:
import re

txt="The rain in Spain"
x=re.split("n",txt)

print(x)

['The rai', ' i', ' Spai', '']

In [11]:
import re

txt="The rain in Spain"
x=re.split("\\s",txt,1)

print(x)

['The', 'rain in Spain']

In [13]:
import re

pattern='^a*s$'
test_string='aaaaas'
result = re.match(pattern,test_string)

if result:
    print("Search successful")
else:
    print("Search unsuccessful")

Search successful

In [15]:
import re

pattern='^a*s$'
test_string='aaaaast'
result = re.match(pattern,test_string)

if result:
    print("Search successful")
else:
    print("Search unsuccessful")

Search unsuccessful

In [17]:
# Program to extract numbers from a string
import re

string= 'hello 12 hi 89. Howdy 34'
pattern='\\d+'

result = re.findall(pattern,string)
print(result)

['12', '89', '34']

In [19]:
import re
string = 'Twelve:12 Eighty nine:89.'
pattern = '\\d+'
result = re.split(pattern,string)
print(result)

['Twelve:', ' Eighty nine:', '.']

In [21]:
import re

string = 'Twelve:12 Eighty nine:89 Nine:9.'
pattern = '\\d+'

# maxsplit = 1
# split only at the first occurance
result = re.split(pattern,string,1)
print(result)

['Twelve:', ' Eighty nine:89 Nine:9.']

In [23]:
# Program to remove all whitespaces
import re

# multiline string
string = 'abc 12\
de 23 \n f45 6'

# matches all hitespaces characters
pattern='\\s+'

# empty string
replace = ''

new_string = re.sub(pattern,replace,string)
print(new_string)

abc12de23f456

In [25]:
import re

txt = "The rain in Spain"
x = re.search("ai",txt)
print(x) # this will print an object

<re.Match object; span=(5, 7), match='ai'>

In [27]:
import re

txt = "The rain in Spain"
x = re.search("ai",txt)
print(x.span())

(5, 7)

In [29]:
import re

txt = "The rain in Spain"
x = re.search("ai",txt)
print(x.string)

The rain in Spain

In [31]:
import re

txt = "The rain in Spain"
x = re.search("ai",txt)
print(x.group())

ai